<mat-card>
    <mat-card-title>
        Nova raça
    </mat-card-title>
    <form>
        <mat-form-field>
            <mat-label>Nome da Raça</mat-label>
            <input matInput  [(ngModel)]="Animais.raca"  
            placeholder="Nome da Raça" name="raca">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo do animal</mat-label>
            <input matInput  [(ngModel)]="Animais.tipo"  
            placeholder="Tipo do animal" name="tipo">
        </mat-form-field>

    </form>

</mat-card>
