.formularios{
    display: flex;
    flex-direction: column;
    
}
.container{
    margin: 5px 15px 5px 15px;
    padding: 25px;
}
/* .botao{
    margin: 30px 5px 5px 5px;
    
} */
button{
    margin: 5px;
    
}