<mat-card class="container">
    <mat-card-title>
        Nova raça
    </mat-card-title>
    <form class="formularios">
        <mat-form-field>
            <mat-label>Nome da Raça</mat-label>
            <input matInput  [(ngModel)]="Animais.raca"  
            placeholder="Nome da Raça" name="raca">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tipo do animal</mat-label>
            <input matInput  [(ngModel)]="Animais.tipo"  
            placeholder="Tipo do animal" name="tipo">
        </mat-form-field>

    </form>
    <div class="botao">
        <button mat-raised-button color="warm"  (click)="cancel()">
        Cancelar
        </button>
        <button mat-raised-button color="accent" (click)="save()">
        Salvar
        </button>

    </div>
    
</mat-card>

