.nova{
    display: flex;
    flex-direction: column;
    width: 200px;
    /* text-align: center; */
    /* justify-content: center; */
    
   
}

.content{
    
        background-color: transparent;
}

.container{
    background-color: transparent;
    color: black;
}