.nova{
    display: flex;
    flex-direction: column;
    width: 200px;
    
    padding: 5px;
}

.content{
    
    padding:16px;
    background-color: transparent;
}

.b{
    display: flex;
    flex: 1;
}
